
@import url('https://fonts.googleapis.com/css?family=Quicksand|Spectral');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: #222222;
}

h1 {
	font-size: 25px;
	text-align: left;
	float: left;
}

nav {
	text-align: right;
	text-decoration: none;
	margin-right: 25px;
	text-align: right;
	letter-spacing: 2px;
	word-spacing: 10px;
	float: right;
	clear: both;
}

a {
	text-decoration: none;
	color: #82A0D0;
}

div {
	clear: right;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

main {
	margin: 80px;
}

h1, h2, h3, h4 {
	font-family: 'Quicksand', sans-serif;
	padding: 20px;
}

#HeroImageText {
	background: url("../images/office.jpg");
	background-size: cover;
	text-align: center;
	padding: 300px;
}

h2 {
	font-size: 45px;
	padding: 20px;
}

p, a {
	font-family: 'Spectral', serif;
}

#slogan {
	font-size: 25px;
}

#scroll {
	padding-top: 30px;
}


h4 {
	font-size: 35px;
	padding: 20px;
	text-align: center;
	width: 600px;
	float: right;
}

.ServiceSubtext {
	font-size: 20px;
	width: 600px;
	text-align: center;
	float: right;
}


#BeautifulImage, #ResponsiveImage, #SEOImage {
	width: 45%;
	float: left;
	clear: both;
}

#ContactMeLandingPageForm {
	background-color: #f0f0f0;
	padding: 50px;
	text-align: center;
	margin: 25px 0;
	clear: both;
}

#contactme {
	font-size: 20px;
	padding-bottom: 20px
}

h3 {
	font-size: 35px;
}

h5 {
	font-size: 20px;
}

footer {
	text-align: center;
	margin-bottom: 20px;
}

footer a {
	margin-left: 10px;
	letter-spacing: 2px;
}